* {
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #ffd1dc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .welcome {
    text-align: center;
    margin-top: 200px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #5c4b51;
  }
  
  p#moreInfo {
    font-size: 24px;
    color: #7a6c72;
  }
  
  .content {
    height: 100vh;
    display: block;
  }
  
  .additional-content {
    margin-top: 50px;
    text-align: center;
    color: #7a6c72;
  }
  
  .separator {
    width: 100%;
    height: 12px;
    background-color: #5c4b51;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #content:target {
    display: block;
  }
  
  img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  header {
    background-color: #0000003d;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  @keyframes in-circle-swoop {
    from {
      background-color: #ffd1dc;
    }
    to {
      background-color: #f2e8d9;
    }
  }
  
  [transition-style="in:custom:circle-swoop"] {
    --transition__duration: 5s;
    animation-name: in-circle-swoop;
    animation-duration: var(--transition__duration);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  h2 {
    text-align: center;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .row img { 
    width: 200px;
    height: auto;
    margin-right: 10px;
  }
  
  .row:last-child {
    margin-bottom: 0;
  }

  .trb {

    list-style-position: inside;
    text-align: center;
    padding-left: 6px;
  }

  